{% if user and not user.is_anonymous %}
  <a>Hello, {{ user.get_full_name }}!</a>
  <br>
  
  <p>This certificate badge should be added beside every completed project done by a student.</p>
<div><a href="https://www.linkedin.com/profile/add?_ed=0_J-NtUVlVYfNiR6SooVQi0Ap_d3DGV_0UEtLvmMPe2Ei9IgkWG1GIYj-OWMiTCDniaSgvthvZk7wTBMS3S-m0L6A6mLjErM6PJiwMkk6nYZylU7__75hCVwJdOTZCAkdv&pfCertificationName=Project%20X&pfCertificationUrl=https%3A%2F%2Fwww.linkedin.com%2Fcompany%2Fproject-placed&pfCertStartDate=201510&pfLicenseNo=15042016GOL1&pfCertFuture=201604&trk=onsite_html" rel="nofollow" target="_blank"><img src="https://download.linkedin.com/desktop/add2profile/buttons/en_US.png" alt="LinkedIn Add to Profile button"></a></div>

<!-- put a upload button, connect it to a PHP script which converts CSV and save it to mysql, referring to the guide in the trello board-->
    <form action="project_mysql2json" method="get">
  <input type="submit" value="Export Projects to JSON File">
</form>

    <form action="project_mysql2csv" method="get">
  <input type="submit" value="Export Projects to CSV File">
</form>

 <form action="skill_mysql2json" method="get">
  <input type="submit" value="Export Skills to JSON File">
</form>

    <form action="skill_mysql2csv" method="get">
  <input type="submit" value="Export Skills to CSV File">
</form>

<p>Please place the CSV File on your Desktop and save it as placeduser.csv .</p>
  <form action="user_csv2sql" method="get">
  <input type="submit" value="Upload Placed Users' Data into MySQL Database">
</form>



  <a href="/logout">Logout</a>
    
{% else %}
  <a href="{% url 'social:begin' backend='linkedin-oauth2' %}">Login with Linkedin</a>
{% endif %} 

